body {
    background-color: #D6E4E5;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container-1 {
    width: 60%;
    margin: auto;
    overflow: hidden;
}


#navbar {
    background-color: #497174;
    color: white;
    text-align: center;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 5em;
}

#navbar a:hover {
    background-color: #00425A;
    padding: 2em;
    border-radius: 75px;
}

#bottom-bar {
    background-color: #497174;
    color: white;
    text-align: center;
    padding: 5px;
}

#bottom-bar ul {
    padding: 0;
    list-style: none;
}

#bottom-bar li {
    display: inline;
}


#bottom-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 5em;
}

#bottom-bar a:hover {
    background-color: #00425A;
    padding: 1.4em;
    border-radius: 75px;
}




#showcase {
    background-image: url('../images/432466.jpg');
    background-position: center-right;
    min-height: 500px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color:#fff;
    font: size 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main {
    width: 80%;
    padding: 20px 30px 30px 30px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: aliceblue;
    font-size: 20px;
    margin: auto;
    margin-bottom: 2em;

    
}

#main h1 {
    text-align: center;
}

#bird-time img {
    width: 40%;
}

#bird-time {
    text-align: center;
    margin-bottom: 2em;
}

.container-2 {
    width: 50%;
    padding: 20px 30px 30px 30px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: aliceblue;
    font-size: 20px;
    margin: auto;
    margin-bottom: 5em;
}

.container-2 h2 {
    text-align: center;
}

#fav_heading {
    text-align: center;
    padding-bottom: 1em;
}

.highlights {
    display: flex;
    justify-content: space-between;
}

.highlights img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    
}

.highlights div {
    border: 1px #ccc;
    padding: 10px;
    text-align: center;

}

.highlights-box {
    width: 30%;
}

.box-1 {
    flex:1;
    background-color: aliceblue;
    border-radius:30%;
    

}
.box-2 {
    flex:1;
    background-color: aliceblue;
    border-radius:30%;
    
}
.box-3 {
    flex:1;
    background-color: aliceblue;
    border-radius:30%;
}

.highlights2 {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.highlights2-box {
    width:30%
}

.highlights2 div {
    border: 1px #ccc;
    padding: 10px;
    text-align: center;
}

.highlights2 img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    
}

.box-4 {
    flex:1;
    background-color: aliceblue;
    border-radius:30%;
    
}
.box-5 {
    flex:1;
    background-color: aliceblue;
    border-radius:30%;
}
.box-6 {
    flex:1;
    background-color: aliceblue;
    border-radius:30%;
}


@media(max-width:600px) {
    #main {
        width:100%;
        float: none;
    }

}